body {
    background-image: url("../../storage/images/aaron-burden-1080px.jpg");
    background-size: cover;
}

.form-group .button {
    background-color: transparent;
}

.inputform {
    padding: 5px;
}

.title {
    padding: 40px;
    text-align: center;
    color: white;
}

.sign-in-form {
    width: 30%;
    margin: auto;
}

.sign-up-form {
    width: 70%;
    margin: auto;
}

.text-muted {
    color: white !important;
}

.footer {
    color: lightgray;
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.copyright {
    text-align: center;
    color: lightgray;
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.author {
    text-align: right;
    color: lightgray;
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}