body {
    background-color: ecf0f1;
    background-size: cover;
}

.margin2 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.form-group .button {
    background-color: transparent;
}

.title {
    padding: 40px;
    text-align: center;
    color: #34495e;
}

.sign-in-form {
    width: 30%;
    margin: auto;
}

.sign-up-form {
    width: 70%;
    margin: auto;
}

.text-muted {
    color: #34495e !important;
}

.footer {
    color: lightgray;
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.copyright {
    text-align: center;
    color: lightgray;
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.author {
    text-align: right;
    color: lightgray;
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/*input[type=text] {*/
    /*border: none;*/
    /*border-bottom: 2px solid yellow;*/
/*}*/